#popup_srch{
	display: none;
	position: fixed;
	z-index: 1;
	overflow: auto;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
 	background-color: rgba(255,255,255,0.7);
 	padding-top: 100px;
}

#innerNew_srch{
	left:15px;
}

#close_srch{
	position: absolute;
	color: rgb(15,15,15);
	font-size: 40px;
	font-weight: bold;
	top:15px;
	right:35px;
}

#close_srch:hover{
	cursor: pointer;
}

.relatedImg_srch{
	padding: 50px
	max-width: 400px;
	max-height: 400px;
}

.rltdText_srch {
	left:15px;
}
.rltdNew_srch {
	left:15px;
	position: inline;
	font-size: 20px;
	text-align: left;

}